h1 {
    text-align: center;
    font-family: 'bebas neue', sans-serif;
    color: #9147FF;
}

h2{
    font-family: 'bebas neue', sans-serif;
    font-size: 30px;
    color: #4dc7fa;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}

h3{
    color: #FFFFFF;
}

body{
    background-color: #0F0F23 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: #4dc7fa;
    accent-color: #4DC7FA;
    accent-color: #9147FF;
    size: 25px;
}

ol {
    list-style-type: decimal;
    list-style-position: inside; /* makes the number sit right before the text */
    padding-left: 1em; /* reduce indent */
  }
  
  /* Optional: make list items tighter and cleaner */
  ol li {
    margin: 0.2em 0;
    padding-left: 0;
  }

